@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

* {
  box-sizing: border-box;
}

a {
  color: #19b5fe;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover,
a:focus {
  color: #6bb9f0;
}
